body
  {background-image: linear-gradient(#F7CAC9, #91A8D0);
  background-position: center center;
  background-size: 100%, 25%;
  background-repeat: no-repeat;
  font-family: Sans;
  font-weight: lighter;
  color: white;
  margin: 0px;
  font-size: 0.8em;
  background-attachment: fixed;}

a
  {color: white;
  outline: none;
  text-decoration: none;}

header ul
  {list-style-type: none;
  text-align: center;
  margin: 0px;
  border-top: 1em solid transparent;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(255,255,255,0.5);}

header ul li
  {display: inline-block;
  margin-left: 1em;
  margin-right: 1em;}

header ul li a img
  {padding: 2px;
  transition: 0.25s ease opacity;}
      
header ul li a .mustsee
  {border: 1px solid white;}

.content
  {border-top: 1px solid transparent;
  background-image: linear-gradient(#F7CAC9, #91A8D0);
  background-position: center center;
  background-size: 100%, 25%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
  margin-top: 1em;
  max-width: 768px;}

#Profile
  {text-align: center;
  display: block;}

#avatarSelection
  {display: block;
  background-size: cover;
  width: 150px;
  background-color: rgba(0,0,0,0.5);
  height: 150px;
  margin: auto;
  border-radius: 75px;
  margin-top: 1em;}

#Profile input, #Profile select
  {display: block;
  border: 1px solid rgba(255,255,255,0.5);
  background-color: transparent;
  color: white;
  font-size: 2em;
  width: 90%;
  margin: auto;
  margin-top: 1em;}

#Profile select
  {padding: 0px;
  width: 90.5%;}

#Profile select option
  {background-color: grey;}

footer
  {display:block;
  height: 100px;}
